/*

Form Stylesheet
Used for any page that consists of a large form as its primary purpose.
Not compiled on its own; included by custom.scss
Matthew Brewer - 9/20/2018

*/

@import "settings";

// Body

.grey-background {
   background-color: $grey;
}

// Login Form Base

.login-container {
    margin: 25px auto 0 auto;
    padding: 25px;
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}

.login-container h1 {
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 15px 0;
}

// Divider

.login-container hr {
    width: 100%;
    margin: 30px 0;
    background-color: 1px solid rgba(17, 17, 19, 0.1);
    height: 1px;
}

// Signup Button

#signup-button {
    margin-bottom: 0 !important;
}

#signup-button label {
    margin-bottom: 15px;
}

// Listing Form

.listing-form-container {
    margin: 25px auto 0 auto;
    padding: 25px;
    max-width: 1200px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}

.listing-form-container .is-col {
    padding: 5px;
}

.listing-form-container h1 {
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 25px 0;
}

.listing-form-container h2 {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.listing-form-container p {
    color: #424242;
    font-size: 16px;
}

// Contact Form

// Listing Form

.contact-form-container {
    margin: 25px auto 0 auto;
    padding: 25px;
    max-width: 1200px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}

.contact-form-container .is-col {
    padding: 5px;
}

.contact-form-container h1 {
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 25px 0;
}

.contact-form-container h2 {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.contact-form-container p {
    color: #424242;
    font-size: 16px;
}

// Divider

.listing-form-container hr {
    width: 100%;
    margin: 30px 0;
    background-color: 1px solid rgba(17, 17, 19, 0.1);
    height: 1px;
}