/*

Homepage Specific Stylesheet for Real Estate Website Project
Not to be compiled on its own; imported by custom.scss
Matthew Brewer - 9/20/2018

*/

// Search Billboard

.search-billboard {
    padding: 175px !important;
    text-align: center;
    background:url("../images/homepage-house.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.search-billboard h1 {
    color: #fff !important;
    font-size: 36px !important;
    text-shadow: 0 0 10px $theme-dark;
    margin: 0 0 5px 0 !important;
}

.search-billboard h2 {
    color: #fff;
    text-shadow: 0 0 10px $theme-dark;
    margin: 0 0 25px 0;
    font-size: 26px;
}

// Search Bar

.home-search {
    width: 75%;
    margin: 0 auto;
}

// Seller Banner

.seller-banner {
    width:100%;
    padding: 15px;
    background-color: $theme-color;
}

#banner-container {
    max-width: 1200px;
    width:100%;
    margin: 0 auto;
}

.seller-banner p {
    color: #fff;
    font-size: 24px;
    display: inline-block;
    margin: 0;
    line-height: 40px;
}

.seller-banner p .bold {
    font-weight: 500;
}

#contact-button {
    float:right;
}

// Listing List

.home-list {
    max-width: 90%;
    max-height: 420px;
    margin: auto;
    padding: 10px;
}

.home-list .listing {
    padding: 5px;
    max-width: 450px !important;
    max-height: 405px !important;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-bottom: 15px;
}

.home-list .listing:hover {
    transition: 0.1s linear;
    border: 1px solid $dark-grey;
}

.home-list .listing .thumbnail-container {
    position: relative;
}

.home-list .listing .listing-thumbnail {
    width: 100%;
    height: auto;
}

.home-list .listing .price {
    line-height: 35px;
    font-weight: 400;
    font-size: 28px;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    position: absolute;
    bottom: 5px;
    left: 15px;
}

.home-list .listing .information-panel {

}

.home-list .listing .information-panel p {
    line-height: 35px;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

.home-list .listing .information-panel p .bold {
    font-weight: 500;
}

.home-list .listing .information-panel a {
    text-decoration: none;
}