/*

Login Stylesheet
Page-specific to login and registration pages.
Not compiled on its own; included by custom.scss
Matthew Brewer - 9/20/2018

*/

// Body - Login/Registration pages have a background

.grey-background {
   background-color: $grey;
}

// Login Form Base

.login-container {
    margin: 25px auto 0 auto;
    padding: 25px;
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}

.login-container h1 {
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 15px 0;
}

// Divider

.login-container hr {
    width: 100%;
    margin: 30px 0;
    background-color: 1px solid rgba(17, 17, 19, 0.1);
    height: 1px;
}

// Signup Button

#signup-button {
    margin-bottom: 0 !important;
}

#signup-button label {
    margin-bottom: 15px;
}