/*

Custom Stylesheet Settings
Custom stylesheet settings file for SCSS variables pertaining to our theme.
Matthew Brewer - 9/20/2018

*/


// Theme Color
$theme-color: #1976D2;
$theme-dark: #34495e;

// Greys

$grey: #EEEEEE;
$dark-grey: #BDBDBD;