<!--

    Navigation Bar HTML Template
    Includes both the primary and secondary navigation bars.
    The secondary-navigation and dropdowns related to it can be omitted for pages where it is unnecessary.
    Matthew Brewer; September 27, 2018

-->

<!-- Navigation Bar -->

<!-- Mobile toggle icon -->
<!-- This will be styled to be more visually appealing when we focus on mobile compatibility. -->
<a href="#" class="nav-toggle is-push-right-mobile is-shown-mobile icon-kube-menu" data-kube="toggle" data-target="#nav-master"></a>

<!-- Navigation Bar Master Container -->
<div id="nav-master" class="is-hidden-mobile">

<!-- Primary Navigation -->

<div class="is-navbar-container is-border-bottom">
    <div class="is-brand">
        <a href="/" class="is-logo">Fortune Real Estate</a>
    </div>

    <div class="is-navbar">
        <nav>
            <ul>
                <li><a href="/catalog">Buy</a></li> <!-- Catalog page - applies "Buy" filter -->
                <li><a href="/catalog">Rent</a></li> <!-- Catalog page - aplpies "Rent" filter -->
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <nav class="is-push-right">
            <ul>
                <li>
                    {% if check_session %}
                        <a data-kube="dropdown" data-target="#account-dropdown" href="/dashboard">{{user}}<span class="caret is-down"></span></a>
                    {% else %}
                        <a href="/login">Login</a>
                    {% endif %}
                </li>
                <!-- Navigation search bar -->
                <form action='/search'>
                    <ul>
                        <li><input type="search" placeholder="City, State, ZIP Code" name="search"></li>
                    </ul>
                </form>

            </ul>
        </nav>
    </div>
</div>            

{% if show_head %}

    <!-- Secondary Navigation -->
    <div id="secondary-navigation" class="is-navbar-container">
        <div class="is-navbar">
            <nav class="is-center">
                <ul>
                    <li><a href="/dashboard">Dashboard</a></li>
                    {% if user_role == 'G' or user_role == 'A' %}
                        <li><a data-kube="dropdown" data-target="#agent-dropdown" href="">Agent<span class="caret is-down"></span></a></li>
                    {% endif %}                    
                    {% if user_role == 'A' %}
                        <li><a data-kube="dropdown" data-target="#admin-dropdown" href="">Admin<span class="caret is-down"></span></a></li>
                    {% endif %}
                    <li><a href="/dashboard">Settings</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            </nav>
        </div>
    </div>

{% endif %}

<!-- Navigation Dropdowns -->

<!-- Account Settings Dropdown -->
<div id="account-dropdown" class="dropdown is-hidden">
    <a href="/dashboard">Settings</a>
    <a href="/logout">Log Out</a>
</div>

<!-- Agent Panel Dropdown -->
<div id="agent-dropdown" class="dropdown is-hidden">
    <a href="/agent/listing">Listings</a>
    <a href="/agent/create">Create Listing</a>
</div>

<!-- Admin Panel Dropdown -->
<div id="admin-dropdown" class="dropdown is-hidden">
    <a href="/comingsoon">Users</a>
    <a href="/comingsoon">Create User</a>
    <a href="/comingsoon">Activity</a>
    <a href="/comingsoon">Configure</a>
    <a href="/admin/ticket">Contact Ticket</a>
</div>
    
