/*

Custom CSS Stylesheet for Real Estate Website Project
Not to be compiled on its own; imported by kube.scss
Matthew Brewer - 9/20/2018

*/

@import "custom/settings";
@import "custom/navbar";
@import "custom/sidebar";
@import "custom/home";
@import "custom/form";
@import "custom/contact";
@import "custom/catalog";


// Container

.container {
    padding:0 0 15px 0;
    width:100%;
    margin: 0;
    min-height: 100%;
}

// Billboard

.billboard {
    width:100%;
    padding: 10px 10px;
}

.is-white-background {
    background-color: #fff;
}

.billboard h1 {
    color: #000;
    font-size: 34px;;
    margin: 20px 0;
    text-align: center;
}

.billboard-title {
    color: #000;
    font-size: 24px;
    margin: 10px 0;
    text-align: left;
    font-weight:500;
}

.billboard-summary {
    color: #000;
    font-size: 18px;
    margin-bottom: 25px;
    text-align: left;
    font-weight: 400;
}

.catalog-link {
    width:100%;
    margin-bottom: 40px;
    text-align: center;
}

.catalog-link a {
    text-decoration: none;
    font-size: 18px;
}

.catalog-link b {
    font-weight: 500 !important;
}

// Billboard Listings

.listing-placeholder {
    width:90%;
    margin: 15px auto;
    padding: 125px 15px;
    background-color: $grey;;
    border-radius: 5px;
    border: 1px solid $dark-grey;
    text-align: center;
}

.listing-placeholder p {
    font-size: 18px;
    color: #000;
    text-align: center;
    margin: 0;
}

// Footer

footer {
    width: 100%;
    padding: 25px;
    background-color: $grey;
    border-top: 1px solid $dark-grey;
}

footer p {
    width: 100%;
    margin: 10px 0 0 9px;
    padding: 5px 0;
    font-size: 14px;
    color: #000;
}

.footer-list a {
    margin: 5px 10px;
    font-size: 16px;
    color: #000 !important;
    text-decoration: none;
}

.footer-list a:hover {
    color: #000 !important;
}