<!doctype html>
<html>
    <head>
        <title>Agent Contact Tickets - Fortune Real Estate</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Kube CSS -->
        <link rel="stylesheet" href="../static/css/kube.css">

    </head>
    <body class="grey-background">

        <!-- Navigation Bar -->
        {% include "includes/header.html" %}

        <!-- Page Body -->

        <div class="container is-container">
            <div class="billboard is-white-background">
                <div class="is-center is-90">
                    <p class="billboard-title">Agent Contact Tickets</p>
                    <p class="billboard-summary">This is a summary of messages submitted from the Contact Agent Form on the detailed listing page.</p>
                </div>
                <div>
                    <table class="is-center is-90 is-border is-striped">
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for contact in get_contact %}
                            <tr>
                                <td>{{contact.created_at}}</td>
                                <td>{{contact.name}}</td>
                                <td>{{contact.phone}}</td>
                                <td>{{contact.email}}</td>
                                <td>{{contact.message}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Kube framework's JavaScript -->
        <script src="../static/js/kube.min.js"></script>
        <script>
            $K.init();
        </script>
    </body>
</html>