<!doctype html>
<html>
    <head>
        <title>Coming Soon - Fortune Real Estate</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Kube CSS -->
        <link rel="stylesheet" href="../static/css/kube.css">

    </head>
    <body class="grey-background">

        <!-- Navigation Bar -->
        {% include "includes/header.html" %}

        <!-- Page Body -->

        <div class="container is-container">
            <div class="login-container is-shadow-2 is-border">
                <h1>Coming Soon</h1>
                <p>We apologize for the inconvenience, but this page is not yet available. Please come back later. If you believe this is an error, please feel free to <a href="/contact">Contact Us</a>.</p>
                <div class="is-row">
                    <div class="is-col is-50">
                        <button class="button is-100" id="back-button" onclick="previousPage()">Back</button>
                    </div>
                    <div class="is-col is-50">
                        <a class="button is-secondary is-100" href="/">Home</a>
                    </div>
                </div>


            </div>
        </div>

        <!-- Page Functionality -->

        <script>

        function previousPage() {
            window.history.back();
        }

        </script>

        <!-- Kube framework's JavaScript -->
        <script src="../static/js/kube.min.js"></script>
        <script>
            $K.init();
        </script>
    </body>
</html>