<!doctype html>
<html>
<head>
    <title>Home - Fortune Real Estate</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Kube CSS -->
    <link rel="stylesheet" href="../static/css/kube.css">

</head>
<body>

    <!-- Navigation Bar -->
    {% include "includes/header.html" %}

    <div class="container">

        <!-- Introduction Search Billboard -->

        <div class="search-billboard billboard">
            <h1>Discover the Perfect Home</h1>
            <h2>We'll help you the whole way.</h2>
            <!-- Search Form -->
            <form action="/search">
                <div class="home-search form-item">
                    <div class="is-append">
                        <input type="text" class="is-search" placeholder="City, State, ZIP Code" name="search">
                        <button class="button">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Seller Banner -->

        <div class="seller-banner">
            <div id="banner-container">
                <p><span class="bold">Looking to sell your home?</span> We can help! Contact us to get started.</p>
                <a id="contact-button" href="/contact" class="button is-inverted" role="button">Contact Us</a>
            </div>
        </div>

        <!-- Newest Listings Previews Billboard -->

        <div class="billboard">
            <h1>Recently Added Homes</h1>
            <p class="catalog-link"><a id="#link" href="/comingsoon">Search listings by <b>newest first</b>.</a></p>

            <!-- Placeholder for when we put some listings on this page -->

            <div class="listing-placeholder">
                <p>Listing previews coming soon.</p>
            </div>

        </div>

        <!-- Sort by: Featured Homes -->

        <div class="billboard">
            <h1>Featured Homes</h1>
            <p class="catalog-link"><a id="#link" href="/comingsoon">Search listings by <b>featured</b>.</a></p>

            <!-- Placeholder for when we put some listings on this page -->

            <div class="listing-placeholder">
                <p>Listing previews coming soon.</p>
            </div>

        </div>

        <!-- Sort by: Least Expensive Homes -->

        <div class="billboard">
            <h1>Most Affordable Homes</h1>
            <p class="catalog-link"><a id="#link" href="/comingsoon">Search listings by <b>least expensive</b>.</a></p>

            <!-- Placeholder for when we put some listings on this page -->

            <div class="listing-placeholder">
                <p>Listing previews coming soon.</p>
            </div>

        </div>

    </div>

    <footer>
        <div class="footer-list">
            <a href="/contact">Contact Us</a><a href="/privacy">Privacy</a><a href="/termsofservice">Terms of Service</a>
        </div>
        <p>Copyright &copy; 2018 Real Estate Company. All rights reserved. </p>
    </footer>

    <!-- Kube framework's JavaScript -->
    <script src="../static/js/kube.min.js"></script>
    <script>
        $K.init();
    </script>
</body>
</html>