<!doctype html>
<html>
<head>
    <title>Home - Fortune Real Estate</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Kube CSS -->
    <link rel="stylesheet" href="../static/css/kube.css">

</head>
<body>

    <!-- Navigation Bar -->
    {% include "includes/header.html" %}

    <div class="container">

        <!-- Introduction Search Billboard -->

        <div class="search-billboard billboard">
            <h1>Discover the Perfect Home</h1>
            <h2>We'll help you the whole way.</h2>
            <!-- Search Form -->
            <form action="/search">
                <div class="home-search form-item">
                    <div class="is-append">
                        <input type="text" class="is-search" placeholder="City, State, ZIP Code" name="search">
                        <button class="button">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Seller Banner -->

        <div class="seller-banner">
            <div id="banner-container">
                <p><span class="bold">Looking to sell your home?</span> We can help! Contact us to get started.</p>
                <a id="contact-button" href="/contact" class="button is-inverted" role="button">Contact Us</a>
            </div>
        </div>

        <!-- Newest Listings Previews Billboard -->
        <div class="billboard">
            <h1>Recently Added Homes</h1>
            <p class="catalog-link"><a id="#link" href="/recentlyadded">Search listings by <b>newest first</b>.</a></p>

            <div class="home-list grid-container is-row"> <!-- listing row template designed for 4 listings-->
                {% for home in recently_added_home %}
                    <div class="listing is-col" onclick="location.href='/catalog/{{ home.id }}';"> <!-- listing template -->
                        <div class="thumbnail-container">
                            <img class="listing-thumbnail" src="{{ home.image}}">
                            <p class="price">$ {{ home.price }}</p>
                        </div>
                        <div class="information-panel is-row">
                            <div class="is-col">
                                <p><span class="bold">Bedrooms: </span>{{ home.bedrooms }}</p>
                            </div>
                            <div class="is-col">
                                <p><span class="bold">Bathrooms: </span> {{ home.bathrooms }}</p>
                            </div>
                            <div class="is-col">
                                <p><span class="bold">Size: </span>{{ home.sq_footage }} sqft</p>
                            </div>
                        </div>
                        <div class="information-panel">
                            <p class="catalog-address">{{ home.addressOne }}, {{ home.city }}, {{ home.state }}, {{ home.zipcode }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Sort by: Featured Homes -->

        <div class="billboard">
            <h1>Featured Homes</h1>
            <p class="catalog-link"><a id="#link" href="/mostexpensive">Search listings by <b>featured</b>.</a></p>

            <!-- listing row goes here -->
            <div class="home-list grid-container is-row"> <!-- listing row template designed for 4 listings-->
                {% for home in featured_home %}
                    <div class="listing is-col" onclick="location.href='/catalog/{{ home.id }}';"> <!-- listing template -->
                        <div class="thumbnail-container">
                            <img class="listing-thumbnail" src="{{ home.image}}">
                            <p class="price">$ {{ home.price }}</p>
                        </div>
                        <div class="information-panel is-row">
                            <div class="is-col">
                                <p><span class="bold">Bedrooms: </span>{{ home.bedrooms }}</p>
                            </div>
                            <div class="is-col">
                                <p><span class="bold">Bathrooms: </span> {{ home.bathrooms }}</p>
                            </div>
                            <div class="is-col">
                                <p><span class="bold">Size: </span>{{ home.sq_footage }} sqft</p>
                            </div>
                        </div>
                        <div class="information-panel">
                            <p class="catalog-address">{{ home.addressOne }}, {{ home.city }}, {{ home.state }}, {{ home.zipcode }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Sort by: Least Expensive Homes -->

        <div class="billboard">
            <h1>Most Affordable Homes</h1>
            <p class="catalog-link"><a id="#link" href="/leastexpensive">Search listings by <b>most affordable</b>.</a></p>

            <!-- listing row goes here -->
            <div class="home-list grid-container is-row"> <!-- listing row template designed for 4 listings-->
                {% for home in affordable_home %}
                    <div class="listing is-col" onclick="location.href='/catalog/{{ home.id }}';"> <!-- listing template -->
                        <div class="thumbnail-container">
                            <img class="listing-thumbnail" src="{{ home.image}}">
                            <p class="price">$ {{ home.price }}</p>
                        </div>
                        <div class="information-panel is-row">
                            <div class="is-col">
                                <p><span class="bold">Bedrooms: </span>{{ home.bedrooms }}</p>
                            </div>
                            <div class="is-col">
                                <p><span class="bold">Bathrooms: </span> {{ home.bathrooms }}</p>
                            </div>
                            <div class="is-col">
                                <p><span class="bold">Size: </span>{{ home.sq_footage }} sqft</p>
                            </div>
                        </div>
                        <div class="information-panel">
                            <p class="catalog-address">{{ home.addressOne }}, {{ home.city }}, {{ home.state }}, {{ home.zipcode }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <footer>
        <div class="footer-list">
            <a href="/contact">Contact Us</a><a href="/privacy">Privacy</a><a href="/termsofservice">Terms of Service</a>
        </div>
        <p>Copyright &copy; 2018 Real Estate Company. All rights reserved. </p>
    </footer>

    <!-- jQuery -->

    <script src="../static/js/jquery-3.3.1.min.js"></script>

    <!-- Catalog Page JavaScript -->

    <script>

        function setThumbnailHeight() {
            // Get the height from the current width of listing-thumbnail images
            let width = $('.listing-thumbnail').width();

            // Choose a height that we like relative to the width
            let height = (width * 0.66)

            // Manually change the CSS height property to match the width that we want
            $('.listing-thumbnail').css("height", height);
        }

        // Adjust the thumbnail height when the page loads
        $(document).ready(setThumbnailHeight);

        // Adjust the thumbnail height when the window is resized
        $(window).resize(setThumbnailHeight);
    </script>

    <!-- Kube framework's JavaScript -->
    <script src="../static/js/kube.min.js"></script>
    <script>
        $K.init();
    </script>
</body>
</html>